.exp {
  font-family: futura;
  margin: 30px 10px 10px 10px;
  font-size: 2em;
}

.softwares {
  font-family: futura;
  margin: 10px 10px 10px 10px;
  font-size: 2em;
}

/* Software Icons */

.softicon {
  max-width: 12% !important;
  width: auto;
  height: auto;
  margin: 0px 10px 0px 10px;
  display: inline-block;
}

/* Edu exp soft int skill */

.titles {
  font-family: futura;
  margin: 15px 10px 0px 10px;
  font-size: 1.8em;
}

.edu {
  font-family: exo light;
  margin: 10px 100px 20px 50px;
  font-size: 0.9em;
}

.skedu {
  font-family: exo light;
  margin: 10px 100px 20px 50px;
  font-size: 0.9em;
}

.int {
  font-family: exo light;
  margin: 10px 100px 0px 50px;
  font-size: 0.9em;
}

.skilltitle {
  font-family: futura;
  margin: 5px 0px 0px 40px;
  font-size: 0.88em;
}

@font-face {
  font-family: futura;
  src: url("futura.ttf");
}


@font-face {
  font-family: futura light;
  src: url("futura light bt.ttf");
}

@font-face {
  font-family: exo light;
  src: url(Exo-VariableFont_wght.ttf);
}
